<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerpientesYEscaleras.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IJugador">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPartida">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IChat">
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8091/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJugador"
                contract="ServiceSYE.IJugador" name="NetTcpBinding_IJugador" />
            <endpoint address="net.tcp://localhost:8091/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPartida"
                contract="ServiceSYE.IPartida" name="NetTcpBinding_IPartida" />
            <endpoint address="net.tcp://localhost:8091/CalculatorService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChat"
                contract="ServiceSYE.IChat" name="NetTcpBinding_IChat" />
        </client>
    </system.serviceModel>
    <userSettings>
        <SerpientesYEscaleras.Properties.Settings1>
            <setting name="idioma" serializeAs="String">
                <value>en</value>
            </setting>
        </SerpientesYEscaleras.Properties.Settings1>
    </userSettings>
</configuration>